@media (min-width: 768px) {
  .sidebar .navbar {
    padding: 0;
    max-height: none;
  }
  .sidebar .navbar ul {
    float: none;
    display: block;
  }
  .sidebar .navbar li {
    float: none;
    display: block;
  }
  .sidebar .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
